*.o
*.so
ruby/Makefile
*.5
*.8
*.6
_obj
_test
/csharp/MsgPack.suo
/csharp/MsgPack/bin
/csharp/MsgPack/obj
/csharp/MsgPack/MsgPack.csproj.user
/csharp/MsgPack.Test/obj
/csharp/MsgPack.Test/bin
/csharp/MsgPack.Test/MsgPack.Test.csproj.user
/cpp/INSTALL
/cpp/Makefile.in
/cpp/NEWS
/cpp/README
/cpp/ac/
/cpp/autom4te.cache/
/cpp/config.h.in
/cpp/install/
/cpp/msgpack_vc2008.sln
/cpp/msgpack_vc2008.vcproj
/cpp/src/Makefile.in
/cpp/src/msgpack/pack_define.h
/cpp/src/msgpack/pack_template.h
/cpp/src/msgpack/sysdep.h
/cpp/src/msgpack/type/define.hpp
/cpp/src/msgpack/type/tuple.hpp
/cpp/src/msgpack/unpack_define.h
/cpp/src/msgpack/unpack_template.h
/cpp/src/msgpack/zone.hpp
/cpp/test/Makefile.in
/cpp/test/cases.mpac
/cpp/test/cases_compact.mpac
/cpp/Makefile
/cpp/aclocal.m4
/cpp/config.h
/cpp/config.log
/cpp/config.status
/cpp/configure
/cpp/libtool
/cpp/msgpack.pc
/cpp/src/.deps/
/cpp/src/Makefile
/cpp/src/msgpack/version.h
/cpp/stamp-h1
/cpp/test/.deps/
/cpp/test/Makefile
/cpp/src/.libs/
*.la
*.lo
